In [1]:
#IMPORTING REQUIRED MODULES
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.multioutput import MultiOutputClassifier

In [2]:
#CREATING DATAFRAME
training_labels=pd.read_csv(r"C:\Users\TUF\Downloads\dataset and all\training_set_labels.csv")
training_labels.tail()

       respondent_id  xyz_vaccine  seasonal_vaccine
26702          26702            0                 0
26703          26703            0                 0
26704          26704            0                 1
26705          26705            0                 0
26706          26706            0                 0

In [3]:
training_labels.shape

(26707, 3)

In [4]:
test_features=pd.read_csv(r"C:\Users\TUF\Downloads\dataset and all\test_set_features.csv")
test_features.tail()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
26703,53410,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,dqpwygqj,"MSA, Principle City",1.0,1.0,NaN,NaN
26704,53411,3.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,Below Poverty,Married,Rent,Employed,qufhixun,Non-MSA,1.0,3.0,fcxhlnwr,vlluhbov
26705,53412,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,qufhixun,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26706,53413,3.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,bhuqouqj,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26707,53414,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,NaN,Not Married,Rent,Employed,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,xtkaffoo

In [5]:
test_features.shape

(26708, 36)

In [6]:
training_features=pd.read_csv(r"C:\Users\TUF\Downloads\dataset and all\training_set_features.csv")
training_features.tail()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,NaN,Not Married,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,"<= $75,000, Above Poverty",Married,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN

In [7]:
training_features.shape

(26707, 36)

In [8]:
submission_format=pd.read_csv(r"C:\Users\TUF\Downloads\dataset and all\submission_format.csv")
submission_format.tail()

       respondent_id  h1n1_vaccine  seasonal_vaccine
26703          53410           0.5               0.7
26704          53411           0.5               0.7
26705          53412           0.5               0.7
26706          53413           0.5               0.7
26707          53414           0.5               0.7

In [9]:
submission_format.shape

(26708, 3)

In [10]:
#NUMBER OF MISSING VALUES IN TRAINING SET FEATURE
training_features.isnull().sum()

respondent_id                      0
xyz_concern                       92
xyz_knowledge                    116
behavioral_antiviral_meds         71
behavioral_avoidance             208
behavioral_face_mask              19
behavioral_wash_hands             42
behavioral_large_gatherings       87
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            971
child_under_6_months             820
health_worker                    804
health_insurance               12274
opinion_xyz_vacc_effective       391
opinion_xyz_risk                 388
opinion_xyz_sick_from_vacc       395
opinion_seas_vacc_effective      462
opinion_seas_risk                514
opinion_seas_sick_from_vacc      537
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4423
marital_status                  1408
rent_or_own                     2042
employment_status               1463
hhs_geo_region                     0
census_msa                         0
household_adults                 249
household_children               249
employment_industry            13330
employment_occupation          13470
dtype: int64

In [11]:
#MERGING THE TRAINING FEATURES AND LABELS
training_df=pd.merge(training_features,training_labels,on='respondent_id')
training_df.tail()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,xyz_vaccine,seasonal_vaccine
26702,26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,NaN,NaN,0,0
26703,26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,fcxhlnwr,cmhcxjea,0,0
26704,26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,...,Own,NaN,lzgpxyit,"MSA, Not Principle City",0.0,0.0,NaN,NaN,0,1
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Rent,Employed,lrircsnp,Non-MSA,1.0,0.0,fcxhlnwr,haliazsg,0,0
26706,26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,NaN,NaN,0,0

In [12]:
training_df.shape

(26707, 38)

In [14]:
X = training_df.drop(columns=['respondent_id','xyz_vaccine','seasonal_vaccine'])
y = training_df[['xyz_vaccine','seasonal_vaccine']]

#SPLITTING DATAFRAM INTO TRAINING AND VALIDATION SETS
X_train ,X_valid ,y_train ,y_valid = train_test_split(X,y, test_size=0.2, random_state =42)

#IDENTIFYING CATEGORICAL AND NUMERICAL COLUMNS
catg_col =[col for col in X.columns if X[col].dtype == 'object']
num_col = [col for col in X.columns if X[col].dtype in ['int64','float64']]

#PREPROCESSING FOR NUMERICAL DATA
num_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),('scaler', StandardScaler())])

#PREPROCESSING FOR CATEGORICAL DATA
catg_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='most_frequent')),('onehot', OneHotEncoder(handle_unknown='ignore'))])

#BUNDLE PREPROCESSING FOR NUMERICAL AND CATEGORICAL DATA
preprocessor = ColumnTransformer(transformers=[('num', num_transformer ,num_col),('cat',catg_transformer , catg_col)])

#DEFINING MODEL
model =RandomForestClassifier(n_estimators=100, random_state=42)

#CREATING AND EVALUATING THE PIPELINE
vac_pipeline = Pipeline(steps=[('preprocessor',preprocessor),('classifier',MultiOutputClassifier(model))])

#FITTING THE MODEL
vac_pipeline.fit(X_train,y_train)

#PREDICTING ON VALIDATION SET
y_valid_pred =vac_pipeline.predict_proba(X_valid)

#CALCULATING ROC AUC
roc_auc_xyz = roc_auc_score(y_valid['xyz_vaccine'],y_valid_pred[0][:,1])
roc_auc_seasonal =roc_auc_score(y_valid['seasonal_vaccine'],y_valid_pred[1][:,1])
roc_auc_mean=(roc_auc_xyz + roc_auc_seasonal)/2
print("ROC AUC for xyz_vaccine:",roc_auc_xyz)
print("ROC AUC for seasonal_vaccine:",roc_auc_seasonal)
print("Mean :ROC AUC ",roc_auc_mean)

#PREDICTING ON TEST SET
X_test = test_features.drop(columns=['respondent_id'])
y_test_pred = vac_pipeline.predict_proba(X_test)

ROC AUC for xyz_vaccine: 0.8294325525888947
ROC AUC for seasonal_vaccine: 0.8518072872366175
Mean :ROC AUC  0.8406199199127561

In [16]:
#SUBMISSION DATAFRAME
submission_df = pd.DataFrame({'respondent_id': test_features['respondent_id'],'xyz_vaccine': y_test_pred[0][:,1],'seasonal_vaccine': y_test_pred[1][:,1]})

#SAVING SUBMISSION FILE
submission_df.to_csv(r"C:\Users\TUF\Downloads\dataset and all\submission_format.csv",index =False)
print("Submission file created")

Submission file created

In [17]:
submission_format=pd.read_csv(r"C:\Users\TUF\Downloads\dataset and all\submission_format.csv")
submission_format.tail()

       respondent_id  xyz_vaccine  seasonal_vaccine
26703          53410         0.32              0.42
26704          53411         0.28              0.35
26705          53412         0.05              0.30
26706          53413         0.08              0.40
26707          53414         0.42              0.67